<!DOCTYPE html>
<html lang='en'>

<!-- Metadata -->
<head>
  <meta charset='utf-8'>

  <!-- Title -->
  <title>Housing Lists</title>
  
  <!-- CSS Styling -->
  <link rel='stylesheet' href='style.css'>

</head>

<!-- Main page content -->
<body>

<!-- Writeup -->
<div class='content-column'>
    <h1>Home Page</h1>
    <p>Welcome to the home page.</p>
    <h1>Housing Lists</h1>
    <p>Here are the current listings we have recommended to you...</p>
</div>

<div class='content-column'>
    <h2>Filter results</h2>
    <p>Select from the following drop-down menus</p>
</div>
<div class='content-column'>
    <h1>Your Listings</h1>
    <p>Here are the current listings we have recommended to you...</p>
</div>


<div>
    <div class = "container">
        <h1>Listing 1:</h1>
    </div>
    <div class = "container">
        <p>Listing 1:</p>
    </div>
</div>

<div>
    <div class = "container">
        <h1>Listing 2:</h1>
    </div>
    <div class = "container">
        <p>Listing 2:</p>
    </div>
</div>

<div>
    <div class = "container">
        <h1>Listing 3:</h1>
    </div>
    <div class = "container">
        <p>Listing 3:</p>
    </div>
</div>

<div class= "container">
    <p>This is a system used to find housing.</p>
</div>

<script src='main.js'></script>
</body>
</html>
