<!DOCTYPE html>
<html lang='en'>

<!-- Metadata -->
<head>
  <meta charset='utf-8'>

  <!-- Title -->
  <title>Housing Lists</title>
  
  <!-- CSS Styling -->
  <link rel='stylesheet' href='style.css'>

</head>

<!-- Main page content -->
<body>

<!-- Writeup -->
<div class='content-column'>
    <h1>Home Page</h1>
    <p>Welcome to the home page.</p>
    <h1>Your Profile</h1>
    <p>Here is your user profile...</p>
</div>


<div class= "container">
    <p>This is a system used to find housing.</p>
</div>

<script src='main.js'></script>
</body>
</html>
